@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "CustomFont";
  src: url("./AgeoTrial-Bold.ttf") format("woff2"),
    url("./AgeoTrial-ExtraBold.ttf") format("woff"),
    url("./AgeoTrial-Heavy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "CustomFont", sans-serif;
}
